
@import url('stylesCommuns.css');

#agenda {
  border-collapse: collapse;
}

#agenda thead {
  background-color: #3399FF;
}

#agenda tbody {
  background-color: #CCFFFF;	
}

#agenda th {
  color: white;
  width: 16.6%;
  border: 1px solid black;	
}

#agenda td {	
  height: 50px;
  text-align: center;
  border: 1px solid black;
}

#separateur {
  background-color: #E6E6E6;
}

.ang {
  background-color:#FF9966;	
}

.bases {
  background-color:#FFCCFF;
}

.syst {
  background-color:#D14719;
}

.web {
  background-color:#009900;
}

.prog {
  background-color:#99FF99;
}

.algo {
  background-color:#FFFF66;
}

.sport {
  background-color:#33CC33;
}

.reseaux {
  background-color:#6666FF;
}

.genie {
  background-color:#FF66CC;
}

.legende {
   margin-top:20px;
}

#legende  td:nth-child(odd) {
  width: 25px;
  height: 25px;
  border: 1px solid black;
}

