
@import url('stylesCommuns.css');

section h2 {
  background-color: #66FFFF;
  margin-bottom: 10px;
  clear: both;
}

img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;	
}

dt {
  font-weight: bold;	
}

dd {
  margin-bottom: 10px;
  margin-left: 10px;	
}

.date {
  float: right;	
}

