
#wrapper {
  width: 800px;	
  margin: auto;	
}

* {
  font-family: Arial, Verdana, sans-serif;
  padding: 0;
  margin: 0;	
}

header {
  text-align: center;
  background-image: url('../images/cloud_sea.jpg');
  background-repeat: repeat-x;
}

nav ul li {
  list-style: none;
  display: inline;	
}

nav ul {
  border-bottom: 1px solid #778;
  padding: 3px 0;
  margin: 10px 0px 10px 0px;	
}

nav ul li a {
  background: #ccf;
  text-decoration: none;
  border: 1px solid #669;
  border-bottom: none;
  padding: 3px 0.5em;
  margin-left: 3px;  	
}

nav ul li a#encours {
  background: white;
  border-bottom: 1px solid white;	
}
